/*
* Index
*/
.parallax-section{
  font-size: 20px;
}
.promo-content{
  font-size: 15px;
}

/*
* Navigation
*/
.breadcrumb{
  padding-left: 5px;
}
.breadcrumb-wrapper {
  white-space: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.breadcrumb-wrapper{
  padding-right: 10px;
}

/*
* Search
*/
.topbarsearch .input-field .prefix {
  width:0rem !important;
}
.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content{
  margin-left: 1rem !important;
}
.prefix {
  bottom: 0px;
  left: 17px;
}
.topbarsearch{
  margin-bottom: 0px !important;
}
.autocomplete-content{
  background-color: white;
  position: relative;
}
ul.autocomplete-content{
  position: absolute;
}

/*
* Modal
*/
.modal-content p{
  font-size: 20px;
}

/*
* Application
*/
#content-wrapper{
  width: 100%;
  padding-bottom: calc(62.5% + 20px);
  top: 20px;
}
.preloader-wrapper{
  display: block;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  vertical-align: middle;
}
#content-wrapper .wrapper{
  width: 100%;
}

/*
* Details
*/
#details-wrapper text, g.legend, tr.vote-row{
  cursor: pointer;
}
mark{
  background-color: rgb(255, 255, 200);
}
#single-vote-wrapper .col{
  padding: 10px 0px;
}
.tooltip{
  background-color: white;
  pointer-events: none;
}
.label{
  font-weight: bold;
}
